*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
.item{
    list-style: none;
    margin: 0px;
   
}

.items{
    display: flex;
    gap: 20px;
    font-size:25px;
    font-weight: 700;
    margin: 0px;
    color: white;
    
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.373);
    padding: 20px;
}

.banner-container{
    width:100%;
    height:100vh;
    
    background-image: url('../image/background.jpg'),linear-gradient(rgba(0, 0, 0, 0.708),rgba(0, 0, 0, 0.708));
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: wheat;
    
}
.banner-title{
    font-size: 85px;
    margin: 0px 20%;
    color: white;
    margin-bottom: 20px;
}
.description{
    color: rgb(173, 173, 173);
    font-size: 22px;
    margin: 20px 20%;
    padding: 10px;

}
.primary{
    color: red;
}
.button{
    border: none;
    padding: 20px;
    border-radius: 5px;
    margin: 0px 10px;
}
.discover-btn{
    color : rgb(255, 255, 255);
    background-color: red;
}